<h2> <%= @visit.school_name %> </h2>
<h3>Rank the following from 1 to 10 <br>
<em><span id="new_rank_subtitle">(1 being gawd-awful, 10 being mind-blowingly perfect).</span></em></h3>
<%= render :partial => "ranking_form" %>