<% if @visits.empty? %>
    <p>"Your visits list is empty. Time to <%= link_to "add a school", new_visit_path %></p>
    <% else %>
    <ul>
      <% @visits.each do |school| %>
        <li><%= "#{school.school_name}, visited on #{school.visit_date}" %></li>
        <%= button_to "Delete School", visit_url(school), :method => :delete %>
      <% end %>
    </ul>
    <%= link_to "add a school", new_visit_path %>
<%end%>