<div id="new_school_page">
  <h2 id="add_school_h2">Add a school to your visits list</h2>
  <h2 id="add_details_h2">A little more info and then<br>you're ready to rank.</h2>
  <%= render :partial => "visit_form" %>
</div>
