// Place all the styles related to the Rankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_rank_subtitle {
  font-size: 80%;
}

#rank_form {
  font-size: 120%;
  line-height: 1.25;
  color: #C2BAA3;
  text-shadow:2px 2px 2px black;
}

select {
  font-size: 85%;
  background-color: #DEDACE
}

#ranking_dorms {
  position: relative;
  left:174px;
}

#ranking_campus {
  position: relative;
  left:160px;
}
#ranking_library {
  position: relative;
  left:170px;
}
#ranking_majors {
  position: relative;
  left:102px;
}
#ranking_students {
  position: relative;
  left:116px;
}
#ranking_classrooms {
  position: relative;
  left:130px;
}
#ranking_student_center {
  position: relative;
  left:98px;
}
#ranking_food_campus {
  position: relative;
  left:82px;
}
#ranking_food_off_campus {
  position: relative;
  left:78px;
}
#ranking_town  {
  position: relative;
  left:70px;
}
#ranking_intramural_sports{
  position: relative;
  left: 77px;
}

#ranking_other_activities {
  position: relative;
  left: 8px;
}

.rank_comment_box {
  display: none;
}

#dorms_btn {
  left: 175px;
}

#rank_save {
  position:relative;
  left: 310px;
  bottom: 10px;
}