/*// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

h2 {
  font-family: 'Raleway', sans-serif;
}

#contact_form {
  display: none;
}

.slider {
  z-index: 10;
}

.schools_list a {
  text-decoration: none;
  color: black;
}

.schools_list a:hover {
  color: green;
}